<div class='container d-flex justify-content-center align-items-center'>
  <div class='card shadow-lg p-4' style='width: 100%; max-width: 800px;'>
    <div class='card-body'>
      <!-- Formulário começa aqui -->
      <div class='mb-3'>
        <h1>Projeto Criado com Sucesso</h1>

        <!--
<h2>Dados do Projeto</h2>
<p><strong>Nome do Projeto:</strong> {{formData.name}}</p>
<p><strong>Modelo Gamificado:</strong> {{formData.modelGamification}}</p>
<p><strong>Duração:</strong>
  {{formData.dias}}
  dias,
  {{formData.horas}}
  horas</p>
<p><strong>Tema da Narrativa:</strong> {{formData.temaNarrativa}}</p>


<h2>Dados das Missões</h2>
{{#each missionsData}}
  <h3>Missão {{@index}}</h3>
  <p><strong>Conteúdo:</strong> {{this.content}}</p>
  <p><strong>Avaliação:</strong> {{this.evaluationType}}</p>
  <p><strong>Obstáculos:</strong> {{this.missionObstacles}}</p>

{{/each}}-->

        <!-- Resposta Gerada pela IA -->
        <h2>Texto Gerado pela IA:</h2>
        <p>{{{markdownContent}}}</p>
      </div>
    </div>
  </div>
</div>